@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*
font-family: 'Lato', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 52px;
    line-height: 54px;
    color: #f79521;
    font-weight: bolder;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    color: rgb(5, 5, 5);
    font-weight: bold;
}

h3 {
    font-size: 26px;
    line-height: 38px;
    color: rgb(5, 5, 5);
}

h4 {
    font-size: 20px;
    line-height: 34px;
    color: rgb(5, 5, 5);
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: grey;
    margin: 15px 0 2px 0;
}


body {
    width: 100%;
}

/* header Srat */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: #434e57;
    box-shadow: 0 2px 10px #f1c691;
    position: sticky;
    top: 0;
    left: 0;
}

#about {
    background-image: url(https://d3vrajesh.github.io/d3vrajesh/docs/assets/images/sky-dark.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#about-1 {
    background-color: #1a1b1b;
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#services {
    background-image: url(https://d3vrajesh.github.io/d3vrajesh/docs/assets/images/services.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#our-clients {
    background-image: url(https://d3vrajesh.github.io/d3vrajesh/docs/assets/images/sky-dark.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#contact {
    background-image: url(https://d3vrajesh.github.io/d3vrajesh/docs/assets/images/sky-dark.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/*==============TWO columns    */
/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#copyright {
    background-color: #434e57;
    text-align: center;
    padding: 10px;
    color: #f79521;
}


.center-heading {
    text-align: center;
}

.padding-heading {
    padding-bottom: 30px;
}

.center-text {
    width: 100%;
    text-align: center;

}

/*----------Default Colors-----   */
.full-width {
    width: 100%;
}

.color-orange {
    color: #f79521;
    opacity: 1;
}

.color-white {
    color: #ffffff;
}

.color-blue {
    color: #434e57;
}

.bg-light {
    background-color: #f79521;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
}

.bg-dark {

    width: 100%;
    padding: 30px;
    vertical-align: middle;
}

@media screen and (max-width: 480px) {
    #header {
        display: block;
        align-items: center;
        justify-content: space-between;
        padding: 5px 5px;
        background-color: #434e57;
        box-shadow: 0 2px 10px #f1c691;
        position: sticky;
        top: 0;
        left: 0;
    }

    #about {
        height: 90vh;
        width: 100%;
        padding: 0 20px;

    }


    h1 {
        font-size: 30px;
        line-height: 30px;
        width: 100%;
    }

    h2 {
        font-size: 26px;
        line-height: 26px;

    }

    h3 {
        font-size: 20px;
        line-height: 20px;

    }

    h4 {
        font-size: 18px;
        line-height: 18px;

    }

    h6 {
        font-weight: 700;
        font-size: 12px;
    }

}

/*navigation */
.topnav {
    overflow: hidden;
    background-color: #434e57;
}

.topnav a {
    float: right;
    display: block;
    color: #f79521;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

    transition: 0.3s ease;
}

.topnav a:hover {
    color: #ffffff;
}

.topnav a.active {

    color: #ffffff;
}

.topnav .icon {
    display: none;
}

.logo {
    height: 40px;
}


@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.solar-right {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*----Solar CSS--*/
.solar-system {

    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.earth {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #969696;
    animation-name: rotate;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.earth:before {
    content: '';
    width: 60px;
    height: 60px;
    background-color: #f79521;
    border-radius: 50%;
    position: absolute;
    left: -2rem;
}

.mars {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #969696;
    animation-name: rotate;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.mars:before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #1e282e;
    border-radius: 50%;
    position: absolute;
    left: -2rem;
}

.mercury {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #969696;
    animation-name: rotate;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.mercury:before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #434e57;
    border-radius: 50%;
    position: absolute;
    left: -1.5rem;
}

.sun {
    background-image: url(https://d3vrajesh.github.io/d3vrajesh/docs/assets/images/sky-dark.jpg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 100px yellow;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*service list manual  */
.service-container-main {
    width: 100%;
    display: table;
    align-items: center;
    float: left;

}

.servies-list-box {
    width: 33%;
    border: 10px;
    padding: 15px;

    border: none;
    align-items: center;

    display: flex;

    flex-direction: column;


}

.service-img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border: 2px solid #f79521;
    padding-inline-start: 5px;
    padding: 10px;
    border-radius: 50%;
}

.center {

    margin: auto;
    width: 60%;
}